.purpose {
    width: 100px;
	height: 100px;
    margin: 10px auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow:
     0 1px 4px rgba(50,50,50,0.3),
     23px 0 20px -23px rgba(231, 231, 231, 0.8),
     0 0 40px rgba(173, 172, 172, 0.1) inset;
}
.purpose_items {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}
.purpose_title {
    text-align: center;
    line-height: 100px;
}