@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, button, input {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #000807;
}
body {
    padding: 50px;
    background-color: rgb(75, 75, 114);
}
#root {
    display: flex;
    justify-content: center;
}
input, button {
    background: #e6e3df;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}